@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
  justify-content: space-between;
}

#menu {
  display: flex;
  list-style-type: none;
}

#menu li {
  margin-left: 30px;
}

#menu li a {
  padding: 10px;
  display: inline-block;
  color: #514d59;
}

#menu li:last-child {
  margin-left: 60px;
}

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

header {
  padding-top: 32px;
  padding-bottom: 32px;
}

body {
  background: url(hero.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% auto;
  font-family: Poppins;
}

.booking-header {
  border-radius: 20px 120px 0px 0px;
  background: #212121;
  width: 180px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.booking-wrapper {
  border-radius: 0px 20px 20px 20px;
  border: 1px solid rgba(81, 77, 89, 0.1);
  background: rgba(255, 255, 255, 0.65);
  box-shadow: 0px 0px 0px 0px rgba(81, 77, 89, 0.15),
    0px 12px 27px 0px rgba(81, 77, 89, 0.15),
    0px 49px 49px 0px rgba(81, 77, 89, 0.13),
    0px 110px 66px 0px rgba(81, 77, 89, 0.08),
    0px 195px 78px 0px rgba(81, 77, 89, 0.02),
    0px 304px 85px 0px rgba(81, 77, 89, 0);
  backdrop-filter: blur(25px);
  padding: 25px;
}

.booking-form {
  border-radius: 20px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  padding: 32px;
}

.form-block {
  display: flex;
  align-items: center;
  padding-right: 30px;
  /* flex-grow: 1; */
}

.booking-form label {
  display: block;
}

.form-block i {
  margin-right: 15px;
  color: #884aff;
}

.booking-form button {
  border-radius: 15px;
  background: #884aff;
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
}

.booking-form label {
  color: rgba(81, 77, 89, 0.8);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.booking-form input {
  color: #514d59;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
  width: 100%;
}

#booking {
  margin-left: 130px;
  margin-right: 130px;
}

#intro {
  padding-top: 220px;
  padding-bottom: 220px;
}

section h2 {
  color: #514d59;
  text-align: center;
  font-size: 70px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px; /* 85.714% */
  margin-bottom: 90px;
}

#goods {
  padding-top: 200px;
  padding-bottom: 100px;
}

.goods-block {
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
}

.goods-parent {
  display: flex;
}

.goods-block h3 {
  margin-top: 18px;
  margin-bottom: 10px;
  color: #514d59;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.goods-block p {
  color: #514d59;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 137.5% */
}

/* cities section */
#cities {
  padding-top: 105px;
  padding-bottom: 105px;
  border: 1px solid rgba(81, 77, 89, 0.15);
  background: #fafafa;
}

.cities-flex {
  display: flex;
  align-items: center;
  margin-bottom: 170px;
}

.cities-flex:last-child {
  margin-bottom: 0;
}

.cities-flex > div {
  width: 50%;
}

section#cities h2 {
  text-align: left;
}

#cities h2 {
  color: #514d59;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px; /* 120% */
  margin-bottom: 30px;
}

#cities a {
  color: #7000ff;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 40px;
  text-decoration: none;
  display: inline-block;
}
